{%extends "info_base.html"%}

{%block highlight_about%}style="border: 2px solid #adf7b6; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; color: black"{%endblock%}

{%-block about_text-%}
About
{%-endblock-%}

{%-block edu_text-%}
<div>
    <span class="pn_icon"></span>
    Phindile Xulu
</div>
{%-endblock-%}

{%-block we_text-%}
<div>
    <span class="phone_icon"></span>
    0630226933
</div>
{%-endblock-%}

{%-block sp_text-%}
<div>
    <span class="ln_icon"></span>
    linkedin.com/in/phindile-
    xulu-1b8122172
</div>

{%-endblock-%}

{%-block goals_text-%}
<div>
    <span class="at_icon"></span>
    codepen.io/phindilex
</div>
{%-endblock-%}

{%-block hobbies_text-%}
<div>
    <span class="at_icon"></span>
    kpl.web.app
</div>
{%-endblock-%}

{%-block interests_text-%}
<div>
    <span class="email_icon"></span>
    xuluphindile84@gmail.com
</div>
{%-endblock-%}

{%block home_text%}
{%endblock%}