<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi doll</title>
    <link rel="icon" href="../static/img/tflag.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/info_styles.css">
</head>
<body>
    <form action="/" method="post">
        <main>
            <section class="nav_card" id="about" {%block highlight_about%}{%endblock%} >
                {%block about_text%}{%endblock%}
            </section>
    
            <section  class="nav_card" id="school" {%block highlight_edu%}{%endblock%}>
                {%block edu_text%}
                {%endblock%}
            </section>
            
            <section class="nav_card" id="work_experience" {%block highlight_we%}{%endblock%}>
                {%block we_text%}
                {%endblock%}
            </section>
            
            <section type="submit" name = "submit_results"  class="nav_card" id="side_projects" {%block highlight_sp%}{%endblock%}>
                {%block sp_text%}
                {%endblock%}
            </section>
            
            <div class="hobbies_interests">
                <section type="submit" name = "submit_results"  class="nav_card" id="goals" {%block highlight_goals%}{%endblock%}>
                    {%block goals_text%}
                    {%endblock%}
                </section>
                
                <section type="submit" name = "submit_results"  class="nav_card" id="hobbies" {%block highlight_hobbies%}{%endblock%}>
                    {%block hobbies_text%}
                    {%endblock%}
                </section>

            </div>
            <section type="submit" name = "submit_results"  class="nav_card" id="interests" {%block highlight_interests%}{%endblock%}>
                {%block interests_text%}
                {%endblock%}
            </section>
            <input type="submit" name = "submit_results"  class="nav_card" id="image1"  {%block highlight_img%}{%endblock%} value="">
               
        </main>
    </form>
</body>
</html>