@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Satisfy&family=Zeyada&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
    font-size: 1em;
    font-weight: bold;    
    color: #1d9405;
    scroll-behavior: smooth;
}


nav, main{
    --_bgc :  var(--bgc, #FFFFFC);
    background-color: var(--_bgc);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "about school work_experience work_experience"
                        "side_projects goals_hobbies interests pic1 " ;
    
    
}


.nav_card{
    --bgc : pink;
    background-color: var(--bgc);
    border-radius: 1rem;
    border: none;
    margin: .5rem;
    text-align: center;
    width: 90%;
    
}
a{
    display: grid;
    align-items: center;
    text-decoration: none;
}

.nav_card:hover,
.nav_card:focus{
    transform: scale(1.05);
    cursor: pointer;
}

#about{
    grid-area: about;
    background-color: #FFADAD;
    
}
#school{
    grid-area: school;
    background-color: #FFD6A5;
}

#work_experience{
    grid-area: work_experience;
    background-color: #FDFFB6;
}
#side_projects{
    grid-area: side_projects;
    background-color: #9BFFBF;
}
#goals{
    grid-area: goals_hobbies;
    background-color: #A0C4FF;
    height: 43%;
    
}
#hobbies{
    grid-area: goals_hobbies;
    background-color: #BDB2FF;
    height: 50%;
}
#interests{
    grid-area: interests;
    background-color: #FFC6FF;
}
#home{
    grid-area: pic1;
    background-image: url("./img/standing.jpeg");
    background: linear-gradient(#e66465, #9198e5);
    background-position: center;
}

.empty{
    background: linear-gradient(#e66465, #9198e5);
    background-image: url("./img/SPARKLES.gif");
    background-size: cover;
}

.selected{
    font-size: 2rem;
    text-decoration: underline;
}
